body {
    text-align: center !important;
    width: 650px ;
    margin: auto !important;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Nunito', sans-serif; */
}
header {
    text-align: center;
}
.q-span {
    position: relative;
    bottom: 10px;
    margin-bottom: 10px;
}
section {
    margin-bottom:25px ;
}
.secOne, .con-div {
    background-color: #d7f0e1;
    color: #074544;
    text-align: center;
}
.pregnancy-h{
    text-align: center;
    background-color: #133729;
    color: #fff;
    padding: 7px;
    font-size: 18px;
}
.myBaby, .myBaby-h {
    text-align: center;
    color: #133729;
    font-size: 20px;
    padding-top: 20px;
}
.myBaby-h {
    font-size: 18px;
    line-height: 4px;
}
.week, .week-h {
    color: #133729;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
    /* line-height: 4px; */
    /* margin-top: -20px; */
}
.readMore, .readMore-s {
    padding: 8px;
    border-radius: 5px;
    background-color: #133729 !important;
    border: none;
    margin-bottom: 10px;
}
.readMore-s {
    background-color: #eb7575 !important;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.secThree {
    text-align: center;
}
h4 {
    font-size: 18px;
}
.questions {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 10px;
    text-align: start;
}
h5{
    font-size: 20px;
    text-align: center;
    color: #133729;
}
.doYou {
    font-size: 17px;
}
.burning {
    background-color: white;
    padding: 20px;
}
.secSeven {
    background-color: #d7f0e1;
    padding: 15px;
}

footer {
    text-align: center;
    margin-top: 15px;
}
.connect {
    letter-spacing: 1.5px;
    font-size: 1.2rem;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width:767px) {
    body {
        width: 100%;
    }
    .week {
        font-size: 2rem;
        text-align: center;
        font-weight: 600;
        /* line-height: 4px; */
        margin-top: -10px;
    }
    .week-h {
        font-size: 1.5rem;
        /* margin-top: 15px; */
    }
    .myBaby-h {
        text-align: center;
        font-size: 1.4rem;
        padding-top: 0px;
    }
}